.Burger {
    width:40%;
    height: 475px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 100%;
    display: block;
    margin-top: 60px;
}
.BurgerIng {
    display:block;
    box-sizing: border-box;
}