.AuthForm {
    width: 100%;
    max-width:600px;
    margin: 30px auto;
    text-align: center;
    background-color: #fdf6f6;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

.authCol {
    text-align: center;
    margin: 0 auto;
}