.inputDiv {
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;

}

.inputElement {
    display: block;
    padding: 10px;
    margin: 15px auto;
    width:80%; 
}

.invalid {
    border: 1px solid red;
    background: #e7b2b2;
}

label {
   color: #f17109;
   text-align: left;
}

select {
        width: 84% !important;
    background: #fff;
    text-transform: capitalize;
}
.validationError {
    color: red;
    margin: 5px 0;
} 